@import "partials/reset";
@import "partials/mixins";

$primary-color: #000;
$border-width: 3px;

$container: 1170px;
$padding: 25px;

@function half-height($first, $second) {
    @return $container / $first + $padding / $second;
}

.half {
    height: half-height(2,2);
}

.half1 {
    height: half-height(2,2);
}

.half2 {
    height: half-height(2,2);
}

.first-class {
    color: $primary-color;
    font-family: sans-serif;
    text-decoration: underline;
}

.second-class {
    @extend .first-class;
    border-color: white;
}

.border-blue {
    border-color: blue;
    border-width: $border-width;
}

.border-red {
    border-color: red;
    border-width: $border-width;
}

a { font-family: sans-serif; color: $primary-color;
    &:hover,
    &:focus,
    &:active { color: blue; }
    &.link-class { color: green;
        &:hover,
        &:focus,
        &:active { color: black; }
    };
}

.translateX {
    @include translateX(15px);
}

.transformX {
    @include translateX(10px);
}

.box1 {
    @include animate-time;
}

.box2 {
    @include animate-time;
}

.box2 {
    @include animate-time( 500ms );
}
