
@mixin animate-time( $time: 320ms ) {
    -webkit-transition: $time ease;
    -moz-transition: $time ease;
    -ms-transition: $time ease;
    -o-transition: $time ease;
    transition: $time ease;
}

@mixin translateX( $val ) {
    -webkit-transform: translateX( $val );
    -moz-transform: translateX( $val );
    -ms-transform: translateX( $val );
    -o-transform: translateX( $val );
    transform: translateX( $val );
}
